<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>Mailjet-event-servlet</display-name>
	<!-- COPY THE CONTENT FROM HERE  -->
	<servlet>
		<servlet-name>Mailjet</servlet-name>
		<servlet-class>fr.mailjet.servlet.MailjetServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Mailjet</servlet-name>
		<url-pattern>/mailjet/*</url-pattern>
	</servlet-mapping>
	<!-- TO HERE  -->
</web-app>